.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.name-field {
  width: 300px;
}

.App-nav {
  padding:10px;
  display:flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  border-bottom:4px solid #D3D3D3;
}
.App-nav a {
  padding: 10px;
  text-decoration:none;
  font-weight:bold;
}

.App-nav .active{
  color:#92cc41;
}