.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  margin-top:20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Perso-right {
  position:relative;
  left:150px; 
}
.Perso-left {
  position:relative;
  right:150px; 
  transform:scaleX(-1);
}